@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 152 100% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 152 100% 27%;
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 94%;
    --accent-foreground: 152 100% 27%;
    --destructive: 0 68% 53%;
    --destructive-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
    --primary: 152 100% 40%;
    --primary-foreground: 0 0% 10%;
    --secondary: 152 100% 35%;
    --secondary-foreground: 0 0% 95%;
    --accent: 0 0% 20%;
    --accent-foreground: 152 100% 40%;
    --destructive: 0 68% 53%;
    --destructive-foreground: 0 0% 100%;
  }
}
